:root {
    --gruv-aqua: #8ec07c;
    --gruv-bg: rgba(60, 56, 54, 0.3);
    --gruv-fg: #ebdbb2;
    --gruv-orange: #fe8019;

}

body {
    width: 100%;
    height: 100%;
    background-image: url(../images/fulls/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: 'Quantum';
    font-style: normal;
    font-weight: 400;
    src: local('Quantum'), local('Quantum'), url("../fonts/Quantum.otf");
}

@font-face {
    font-family: 'Neon';
    font-style: normal;
    font-weight: 400;
    src: local('Neon'), local('Neon'), url("../fonts/NEON.TTF");
}

.infobox {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    color: var(--gruv-fg);
    width: 80%;
    height: 100%;
    padding: 10px;
    background-color: var(--gruv-bg);
    border-radius: 20px;
    backdrop-filter: hue-rotate(120deg) blur(4px);
    animation: 1s ease-out 0s 1 slideInUp;
}

.mainttext {
    font-size: 2vh;
}

.circular {
    display: block;
    margin-bottom: 0;
    margin-top: 5%;
    border-radius: 50%;
    width: 20vh;
    height: 20vh
}

.neon {
    border: 1px solid var(--gruv-aqua);
    -webkit-box-shadow: 0px 0px 10px 0px var(--gruv-aqua);
    box-shadow: 0px 0px 10px 0px var(--gruv-aqua);
    padding: 10px;
}

.neon-o {
    border: 1px solid var(--gruv-orange);
    -webkit-box-shadow: 0px 0px 10px 0px var(--gruv-orange);
    box-shadow: 0px 0px 10px 0px var(--gruv-orange);
    padding: 10px;
}

.neon-o:hover {
    border: 1px solid var(--gruv-aqua);
    -webkit-box-shadow: 0px 0px 10px 0px var(--gruv-aqua);
    box-shadow: 0px 0px 10px 0px var(--gruv-aqua);
    padding: 10px;
}

.neon-bar {
    border-bottom: 1px solid var(--gruv-aqua);
    -webkit-box-shadow: 0px 5px 10px -4px var(--gruv-aqua);
    box-shadow: 0px 5px 10px -4px var(--gruv-aqua);
    background-color: rgba(60, 56, 54, 0.7);
    height: 5vh;
}

.title {
    color: var(--gruv-orange);
    font-family: Neon;
    font-size: 500%;
    -webkit-text-shadow: 0px 0px 10px var(--gruv-orange);
    text-shadow: 0px 0px 10px var(--gruv-orange);
    animation: flicker 3s linear infinite;
}

.sub-title {
    color: var(--gruv-orange);
    font-family: Neon;
    font-size: 3vh;
    -webkit-text-shadow: 0px 0px 10px var(--gruv-orange);
    text-shadow: 0px 0px 10px var(--gruv-orange);
    animation: flicker 3s linear infinite;
}

.sub-sub-title {
    color: var(--gruv-orange);
    font-family: Neon;
    font-size: 150%;
    -webkit-text-shadow: 0px 0px 10px var(--gruv-orange);
    text-shadow: 0px 0px 10px var(--gruv-orange);
    animation: flicker 3s linear infinite;
    text-align: left;
    padding-left: 3vh;
}

.sub-sub-title-l {
    color: var(--gruv-orange);
    font-family: Neon;
    font-size: 150%;
    -webkit-text-shadow: 0px 0px 10px var(--gruv-orange);
    text-shadow: 0px 0px 10px var(--gruv-orange);
    animation: flicker 3s linear infinite;
    padding-right: 3vh;
    text-align: right;
    margin-left: auto;
}

.navbar {
    list-style-type: none;
    width: 90%;
    margin-left: -5%;
    margin-right: auto;
}

.nav-el {
    float: left;
    padding: 1%;
    margin-left: 0%;
    margin-right: 1%;
    margin-top: -1%;

    display: inline;
    font-size: 200%;
    background-color: rgba(40, 36, 34, 1);
}

.nav-txt {}


a {
    color: var(--gruv-fg);
    text-decoration: none;
    font-family: Neon;
    color: var(--gruv-orange);
    font-family: Neon;
    font-size: 3vh;
    -webkit-text-shadow: 0px 0px 10px var(--gruv-orange);
    text-shadow: 0px 0px 10px var(--gruv-orange);
    animation: flicker 10s linear infinite;
}

a:hover {
    color: var(--gruv-fg);
    text-decoration: none;
    font-family: Neon;
    color: var(--gruv-aqua);
    font-family: Neon;
    -webkit-text-shadow: 0px 0px 10px var(--gruv-aqua);
    text-shadow: 0px 0px 10px var(--gruv-aqua);
    animation: flicker 10s linear infinite;

}

.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

hr {
    width: 80%;
    margin-left: -0%;
    border: 1px solid var(--gruv-aqua);
    box-shadow: 0px 0px 10px 0px var(--gruv-aqua);
}

.sub-hr {
    border-bottom: 1px solid var(--gruv-orange);
    box-shadow: 0px 4px 2px -2px var(--gruv-orange);
    width: fit-content;
}

.page-l {
    display: inline;
    font-size: 30%;
    margin-right: 5%;
}

.page-links {
    margin-left: -5%;
}

/* Modal - fixed */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5);
    /* Black w/ opacity */
}

.propper {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation: 2s ease-out 0s 1 fadeIn;
}

/* Modal Content/Box */
.modal-content {
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    width: 40%;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    color: var(--gruv-fg);
    /* Fix this latter for mobile (80% on mobile, 35% normal*/
    height: 60%;
    margin-top: 20vh;
    margin-bottom: 10vh;
    padding: 10px;
    background-color: var(--gruv-bg);
    border-radius: 20px;
    backdrop-filter: hue-rotate(120deg) blur(2px);
    border: 1px solid var(--gruv-orangeorange);
    -webkit-box-shadow: 0px 0px 10px 0px var(--gruv-orange);
    box-shadow: 0px 0px 10px 0px var(--gruv-orange);
    padding: 10px;
}

.column {
    float: left;
    width: 50%;
    margin-top: 5vh;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Quick Fixes */

.click-curse {
    cursor: pointer;
}


/* Tool Tips!! */

.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 10vh;
    text-align: center;
    padding: 5px 20px;
    border-radius: 6px;
    top: 130%;
    left: 50%;
    margin-left: -5vh;

    font-family: neon;
    font-size: 450%;
    color: var(--gruv-aqua);

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Sweet Flicker borrowed from https://codepen.io/mandymichael/pen/aJLYVz */

@keyframes flicker {

    0%,
    19.999%,
    22%,
    62.999%,
    64%,
    64.999%,
    70%,
    100% {
        opacity: .99;
        text-shadow: -1px -1px 0 $outline, 1px -1px 0 $outline, -1px 1px 0 $outline, 1px 1px 0 $outline, 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
    }

    20%,
    21.999%,
    63%,
    63.999%,
    65%,
    69.999% {
        opacity: 0.4;
        text-shadow: none;
    }
}

.slide-right{
    animation: 1s ease-out 0s 1 slideInRight;
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInUp {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}
