:root {
    --gruv-aqua: #8ec07c;
    --gruv-bg: rgba(60, 56, 54, 0.3);
    --gruv-fg: #ebdbb2;
    --gruv-orange: #fe8019;

}

body {
    width: 100%;
    height: 100%;
    background-image: url(../images/fulls/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: 'Quantum';
    font-style: normal;
    font-weight: 400;
    src: local('Quantum'), local('Quantum'), url("../fonts/Quantum.otf");
}

@font-face {
    font-family: 'Neon';
    font-style: normal;
    font-weight: 400;
    src: local('Neon'), local('Neon'), url("../fonts/NEON.TTF");
}

.infobox {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    color: var(--gruv-fg);
    width: 60vh;
    height: 60%;
    margin-top: 5vh;
    margin-bottom: 10vh;
    padding: 10px;
    background-color: var(--gruv-bg);
    border-radius: 20px;
}

.mainttext {
    font-size: 2vh;
}

.circular {
    display: block;
    margin-top: 10vh;
    margin-bottom: 0;
    border-radius: 50%;
    width: 20vh;
    height: 20vh
}

.neon {
    border: 1px solid var(--gruv-aqua);
    -webkit-box-shadow: 0px 0px 10px 0px var(--gruv-aqua);
    box-shadow: 0px 0px 10px 0px var(--gruv-aqua);
    padding: 10px;
}

.neon-o {
    border: 1px solid var(--gruv-orange);
    -webkit-box-shadow: 0px 0px 10px 0px var(--gruv-orange);
    box-shadow: 0px 0px 10px 0px var(--gruv-orange);
    padding: 10px;
}

.neon-o:hover {
    border: 1px solid var(--gruv-aqua);
    -webkit-box-shadow: 0px 0px 10px 0px var(--gruv-aqua);
    box-shadow: 0px 0px 10px 0px var(--gruv-aqua);
    padding: 10px;
}

.neon-bar {
    border-bottom: 1px solid var(--gruv-aqua);
    -webkit-box-shadow: 0px 5px 10px -4px var(--gruv-aqua);
    box-shadow: 0px 5px 10px -4px var(--gruv-aqua);
    background-color: rgba(60, 56, 54, 0.7);
    height: 5vh;
}

.title {
    color: var(--gruv-orange);
    font-family: Neon;
    font-size: 5vh;
    -webkit-text-shadow: 0px 0px 10px var(--gruv-orange);
    text-shadow: 0px 0px 10px var(--gruv-orange);
    animation: flicker 3s linear infinite;
}

.sub-title {
    color: var(--gruv-orange);
    font-family: Neon;
    font-size: 3vh;
    -webkit-text-shadow: 0px 0px 10px var(--gruv-orange);
    text-shadow: 0px 0px 10px var(--gruv-orange);
    animation: flicker 3s linear infinite;
}

.sub-sub-title {
    color: var(--gruv-orange);
    font-family: Neon;
    font-size: 2vh;
    -webkit-text-shadow: 0px 0px 10px var(--gruv-orange);
    text-shadow: 0px 0px 10px var(--gruv-orange);
    animation: flicker 3s linear infinite;
    text-align: left;
    padding-left: 3vh;
}

.navbar {
    list-style-type: none;
}

.navbar > li:last-child {
    float: inherit;
}

.nav-el {
    display: inline;
    margin-top: auto;
    margin-left: 3vh;
    margin-right: 3vh;
    font-size: 3.3vh;
    background-color: rgba(40, 36, 34, 1);
}

a {
    color: var(--gruv-fg);
    text-decoration: none;
    font-family: Neon;
    color: var(--gruv-orange);
    font-family: Neon;
    font-size: 3vh;
    -webkit-text-shadow: 0px 0px 10px var(--gruv-orange);
    text-shadow: 0px 0px 10px var(--gruv-orange);
    animation: flicker 10s linear infinite;

}

a:hover {
    color: var(--gruv-fg);
    text-decoration: none;
    font-family: Neon;
    color: var(--gruv-aqua);
    font-family: Neon;
    font-size: 3vh;
    -webkit-text-shadow: 0px 0px 10px var(--gruv-aqua);
    text-shadow: 0px 0px 10px var(--gruv-aqua);
    animation: flicker 10s linear infinite;

}

.textBox {}

ul {
    margin-left: auto;
    margin-right: auto;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

hr {
    width: 30%;
    border: 1px solid var(--gruv-aqua);
    box-shadow: 0px 0px 10px 0px var(--gruv-aqua);
}

.page-l {
    display: inline;
    font-size: 30%;
}


/* Tool Tips!! */

.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 10vh;
    text-align: center;
    padding: 5px 5p;
    border-radius: 6px;
    top: 130%;
    left: 50%;
    margin-left: -5vh;

    font-family: neon;
    font-size: 250%;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Sweet Flicker borrowed from https://codepen.io/mandymichael/pen/aJLYVz */

@keyframes flicker {

    0%,
    19.999%,
    22%,
    62.999%,
    64%,
    64.999%,
    70%,
    100% {
        opacity: .99;
        text-shadow: -1px -1px 0 $outline, 1px -1px 0 $outline, -1px 1px 0 $outline, 1px 1px 0 $outline, 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
    }

    20%,
    21.999%,
    63%,
    63.999%,
    65%,
    69.999% {
        opacity: 0.4;
        text-shadow: none;
    }
}
