body {
    overflow: scroll;
}

.portfolio-main {
    width: 100%;
}

.category-buttons {
    float: left;
    width: 100%;
    display: inline;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 250px;
    gap: 10px;
    padding: 10px;
    width: 100vw;
}

.grid-item {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    transition: transform 0.2s;
    justify-content: center;
    align-items: center;
}

.grid-item:hover {
    transform: scale(1.05);
}

.grid-item img {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.2s;
    object-fit: cover;
    object-position: center center;
}

.grid-item img:hover {
    transform: scale(1.1);
}
