body {
    overflow: scroll;
}

.portfolio-main {
    width: 100%;
}

.category-buttons {
    float: left;
    width: 100%;
    display: inline;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 250px;
    gap: 10px;
    padding: 10px;
    width: 98vw;
    grid-auto-flow: dense;
}

.grid-item {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    transition: transform 0.2s;
    justify-content: center;
    align-items: center;
}

.grid-item:hover {
    transform: scale(1.05);
}

.grid-item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
    transition: all 1s ease;
}

.grid-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-item img:hover {
    transform: scale(1.1);
}

.prominent {
    grid-row: span 2;
    grid-column: span 2;
}

.prominent-video{
    grid-row: span 3;
    grid-column: span 2;
}
.prominent-wide {
    grid-column: span 2;
}

.prominent-tall[data-category="2D"] img, .prominent-wide[data-category="2D"] img{
    object-fit: scale-down !important;
}

.prominent-tall {
    grid-row: span 2;
}

.category-buttons button {
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.category-buttons button.active {
    background: rgba(255, 255, 255, 0.621);
    transform: scale(1.05);
}

