:root {
    --background-color: black;
    --text-color: green;
    --accent-color: aquamarine;
    --title-color: chartreuse;
    --heart: red;
}

/* Light mode colors */
.light-mode {
    --background-color: #e6e6e6;
    --text-color: #333;
    --accent-color: #007bff;
    --title-color: black;
    --heart: pink;
}

/* Main body stuff */
body {
    margin: 0;
    font-family: 'Courier New', monospace;
    flex-direction: column;
    min-height: 100vh;
    font-size: 20px;
    background-color: var(--background-color);
}

.heart{
    color: var(--heart);
}

/* wrapping div */
.terminal {
    color: var(--text-color);
}

/* Entry part stuck to the bottom, this is where you enter the commands */
.entry {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    position: fixed;
    bottom: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: var(--background-color);
    background-clip: padding-box;
    padding-right: 100%;
    box-shadow: 0px 5vh var(--background-color);
    padding-left: 20px;
}

.input-field {
    background-color: var(--background-color);
    color: var(--text-color);
    border: none;
    padding-left: 0vh;
}

/* Styling done on the paceholder text and user input */
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text-color);
    opacity: 1;
    /* Firefox */
    font-family: 'Courier New', monospace;
    text-align: left;
    font-size: 15px;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--text-color);
    font-family: 'Courier New', monospace;
    text-align: left;
    font-size: 15px;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--text-color);
    font-family: 'Courier New', monospace;
    text-align: left;
    font-size: 15px;
}

input:focus {
    outline: none;
}

.user {
    border: none;
    color: var(--title-color);
}

/* bit of some flavor for the help command, will likely be used elsewhere */
.halp {
    color: var(--accent-color);
}

strong {
    color: var(--title-color);
}

.tip{
    font-weight: 100;
    color: darkgreen;
}

.mobile{
    padding-top: 100px;
}

.output {
    padding: 20px;
    color: var(--text-color);
    font-weight: 100;
}

/* style for the welcome message at the top */
.welcome-message {
    background-color: var(--background-color);
    color: var(--title-color);
    padding: 20px;
    border: 1px solid var(--text-color);
    white-space: pre-line;
    position: absolute;
    /* Preserve line breaks and spaces */
    font-family: 'Courier New', monospace;
}
